<h2>Students</h2>
<ul>
  <% @students.each do |student| %>
    <% if user_signed_in? && student == current_user%>
      <li>
        <%= link_to student.name, myprofile_path(student) %>
      </li>
      <% else %>
      <li>
        <%= link_to student.name, student_path(student) %>
      </li>
    <% end %>
  <% end %>
</ul>
