/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: darkcyan;
}

body {
    background: url('back.jpg');
    background-attachment: fixed;
    background-position: center;
}

div.container6 {
    display: flex;
    align-items: center;
    justify-content: center
}

.left, .right {
    padding: 0;
}
.left .list-group-item {
    border-right: none;
}
.left .list-group-item:first-child {
    border-top-right-radius: 0;
}
.left .list-group-item:last-child {
    border-bottom-right-radius: 0;
}
.right .list-group-item:first-child {
    border-top-left-radius: 0;
}
.right .list-group-item:last-child {
    border-bottom-left-radius: 0;
}
